{% extends 'base.html.twig' %}

{% block content %}
    <h1>Changer le mot de passe</h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.newPassword2) }}

    <button type="submit">Changer le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
