{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
        'label': 'Email'|trans
    }) }}
    {{ form_row(registrationForm.fullname, {
        'label': 'Full Name'|trans
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        'label': 'Password'|trans
    }) }}

    <button type="submit" class="btn">{{ 'Register'|trans }}</button>
    {{ form_end(registrationForm) }}
    <a href="{{ path('blog') }}">{{ 'Back to homepage'|trans }}</a>
    <a href="{{ path('login') }}">{{ 'Login'|trans }}</a>
{% endblock %}
