{% extends 'base.html.twig' %}

{% block title %}Blog Symfony{% endblock %}

{% block body %}

    <nav>
        <h1>Blog Symfony - ADMIN BACK</h1>
        <a href="/">{{ 'Homepage'|trans }}</a>
        <a href="{{ path('login') }}">{{ 'Login'|trans }}</a>
        <a href="{{ path('register') }}">{{ 'Register'|trans }}</a>
    </nav>

    </div>
{% endblock %}
