{% extends 'base.html.twig' %}

{% block title %}Blog Symfony{% endblock %}

{% block body %}

    <nav>
        <h1>Blog Symfony - BLOG FRONT</h1>
        <a href="/">{{ 'Homepage'|trans }}</a>
        <a href="{{ path('login') }}">{{ 'Login'|trans }}</a>
        <a href="{{ path('register') }}">{{ 'Register'|trans }}</a>
{#        <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>#}
    </nav>

{#    {% if is_granted('ROLE_ADMIN') %}#}
{#        <p>You have ROLE_ADMIN.</p>#}
{#    {% endif %}#}
{#    {% if app.user %}#}
{#        <p>Hello, {{ app.user.username }}!</p>#}
{#    {% endif %}#}

    </div>
{% endblock %}
